.main {
  width: 30%;
  height: 100px;
  background-color: #f4f5fb;
  margin-bottom: 10px;
  padding: 10px;
}

.left {
  position: relative;
  float: left;
  /* Aligns card to the left */
  clear: both;
  /* Clears floats */
}

.right {
  position: relative;
  float: right;
  /* Aligns card to the right */
  clear: both;
  /* Clears floats */
}

.messageText {
  font-size: 1.5rem;
}

.messageDate {
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  right: 15px;
}