.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Set container to flex */
    justify-content: space-between; /* Space items evenly */
    width: 100%;
  }
  
  .navLinks li {
    display: flex;
  }


.links{
  width: 300px;
  justify-content: space-around;
  display: flex;
  /* background-color: red; */
}

.links_logged{
  width: 500px;
  justify-content: space-around;
  display: flex;
  /* background-color: red; */
}

.linkContainer{
  display: flex;
  background-color: red;
  width: 800px;
}