.main{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 60px;
    margin-top: 40px;
}

.searchcont{
    margin-top: 50px;
}

.rechercher{
    width: 900px;
    height: 70px
}

.search{
    width: 90px;
    height: 30px;
}

.ecole_card{
    /* background-color: red; */
    margin-bottom: 10px;
}

.city{
    cursor: pointer;
    margin-bottom: 3px;
}


.home{
    width: 30px
}

.city_container{
    /* width: 700px; */
    cursor: pointer;
}

.resultscont{
    display: flex;
    /* background-color: red; */
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}