.rechercher{
    width: 500px;
    height: 70px
}

.search{
    width: 90px;
    height: 30px;
}

.ecole_card{
    /* background-color: red; */
    margin-bottom: 10px;
}

.city{
    cursor: pointer;
    margin-bottom: 3px;
}

.top{
    margin-top: 40px
}

.home{
    width: 30px
}

.city_container{
    /* width: 700px; */
    cursor: pointer;
}